# MacOS Desktop Services for files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
data/
*.png
*.out
IQL/eval_log/
IQL/log_collect/
IQL/wandb
/data
data.csv
fopdt.txt
test.*

test.ipynb
*.gif
*.sh
*.log

!img/
!img/*.png