# MacOS Desktop Services for files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
data/
*.png
*.out
IQL/eval_log/
IQL/log/
IQL/wandb
/data
data.csv

test.ipynb
*.gif

!img/
!img/*.png